sudo: false
language: node_js
notifications:
  email: false
node_js:
  - 6
  - 8
  - 10
matrix:
  fast_finish: true
script: npm run travis
before_install:
  - npm i -g npm
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
jobs:
  include:
    - stage: release
      node_js: 10
      script: curl "https://raw.githubusercontent.com/pelias/ci-tools/master/semantic-release.sh" | bash -
      if: branch = production
