sudo: false
language: node_js
notifications:
  email: false
node_js:
  - 6
  - 8
matrix:
  fast_finish: true
env:
  global:
    - BUILD_LEADER_ID=2
script: npm run travis
before_install:
  - npm i -g npm@^3.0.0
before_script:
  - npm prune
after_success:
  - npm install -g npx
  - npx -p node@8 npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
